---
title: LocalGov Toolkit: Older Person's Bus Pass
---



# <span class="heading-secondary">Service toolkit for</span> Apply for an older person's bus pass

This page is for service teams in councils working on concessionary travel services for older people.

It outlines the [policy intent](#policy), collated [user research](#user-research), best practice [service design](#service-design), and guidelines for [technical delivery](#technology).

[Read more about local government service toolkits](/)

## Policy

All councils in England must provide bus concession for older and disabled people.

The scheme has gradually been extended since its introduction and
since April 2008 has provided free off-peak local bus travel to eligible older and disabled people anywhere in England.

[Read more about this policy on GOV.UK.](https://www.gov.uk/government/publications/guidance-for-travel-concession-authorities-on-the-england-national-concessionary-travel-scheme)

## User research

### User needs for concessionary travel application

The goal for user research during this phase of the project, as outlined in the [service manual](https://www.gov.uk/service-manual), was to find out:

*   who our users are
*   our users’ needs and how they are currently meeting them
*   needs that are not meeting

Achieving this in the relatively short timescales of our discovery, and at sufficient scale, across all participating councils presented a challenge, especially given that most participating councils had never conducted user research for project discovery.

To achieve scale quickly, we provided training for all of the participating councils early in the discovery phase of the project. By sharing the research effort across the participating councils, we were able to conduct approximately 50 interviews with existing service users.

### What we learnt about applying for a concessionary travel pass

The user journey that we observed and associated needs are recorded on the [concessionary travel user journey map](/public/images/concessionary-travel-journey-map.pdf) (PDF, 70Kb).

Most notable of our findings was the low levels of confidence and online skills of these service users. This presents a number of potential issues in terms of the usability of the service, as well as in concerns about privacy and security of digital services.

A very large proportion of those we spoke to were either unwilling or unable to complete the application process unaided and needed to get help from a friend or family member. It is worth noting that those assisting were also often unable to complete online transactions that required them to scan documents or upload photos.

#### Initial awareness:

Most were aware that they would be eligible for some form of concessionary travel, however it was important for them to be able to check and get official confirmation of this before applying.

Some applied when they reached ‘the age’ and considered it a milestone in their life that they wanted to recognise. Others only applied when a circumstance changed which led to increased dependence on public transport.

<details role="group"><summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">User needs in the initial awareness phase</span></summary>

As a resident applying for a pass, I need:

*   to know if I’m eligible for a bus pass, so that I know that I can apply
*   to feel valued and appreciated, so that I can feel better about this milestone in my life

</details>

#### Discovery and application process:

From the outset, a significant proportion of those we spoke to needed assistance with the process. This was especially so where the application process had to be completed online. In most cases, this was provided by a family member or carer.

Very significant concerns were raised by this much older group about the difficulty and security of completing an application online. Most were unwilling to do so, preferring to visit a contact centre or apply by post.

The most common cause of issues in completing the application process was the need to provide documents to prove identity and eligibility. This problem was most significant in digital applications, with many unable to complete without assistance.

<details role="group"><summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">User needs in the discovery and application phase</span></summary>

As a resident applying for a pass, I need:

*   to get someone to help me with my application, so that I'm able to get my bus pass
*   to know where to apply and how, so that I don’t complete the wrong application
*   to know it’s safe to do online so, that I’m not afraid
*   to know what I need to provide with my application, so that I can prove who I am
*   to know how to provide a photo, so that, so that my application is successful
*   to know that help is available, so that I know what to do if I get stuck

</details>

#### Processing and fulfilment:

Once applications had been submitted users needed to know that they were being processed, as well as when they would be issued.

These users also tended to be less confident about their applications, and there was a greater need to know that they had completed the application correctly.

<details role="group"><summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">User needs in the processing and fulfilment phase</span></summary>

As a resident applying for a pass, I need:

*   to know how that I’ve done everything correctly, so that I know my application will be successful
*   to know what’s happening with my application, so that I don’t have to call up to find out when I’ll get it
*   to get my bus pass quickly, so that I’m able to travel
*   to know where and how I can use my pass, so I don’t get thrown off a bus

</details>

#### Renewal:

Some users were concerned they would forget their renewal, so wanted to be reminded when the date was due. In most cases, when it came to renewing, users were disappointed to have to complete another full application, as they thought their information would have been saved.

<details role="group"><summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">User needs in the renewals phase</span></summary>

As a resident renewing a pass, I need:

*   to know when my pass expires, so that I know I need a replacement
*   you to remember who I am, so that I don’t have to apply again every year

</details>


## Service design

These are the steps users should go through.

<div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;toolbar&quot;:&quot;zoom layers lightbox&quot;,&quot;xml&quot;:&quot;&lt;mxfile userAgent=\&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36\&quot; version=\&quot;6.8.13\&quot; editor=\&quot;www.draw.io\&quot; type=\&quot;google\&quot;&gt;&lt;diagram id=\&quot;6355faad-e3fa-9414-e1fb-1e863bdcab31\&quot; name=\&quot;Page-1\&quot;&gt;7V1bl6K4Fv41rj79gIsQro9d1V0zZ03PZU3PzJl+RAjKNBoPYlfV+fUnCUSFBNCSW5XxoUojwZC98+1rdmbwfv30Q+pvVz/jECUzQw+fZvDjzDAM0zPIP9rynLcAwFuWaRwWbceGL/H/UNGoF637OES70oUZxkkWb8uNAd5sUJCV2vw0xY/lyyKclH916y+R0PAl8BOx9T9xmK3yVtfSj+0/oni54r8M9OKbtc8vLhp2Kz/EjydN8NMM3qcYZ/m79dM9Sujs8XnJ+z3UfHsYWIo22Tkd7IXuOnZomsCKDNeBmuHlt/juJ/viaYuRZs/88VO834SI3kGfwbvHVZyhL1s/oN8+EoqTtlW2TsgnQN4enpBeu8tS/A3d4wSn7FZQZ6/DN3w2accoTpKTK6MoIo3F4FCaoafaRwaHiSQsiPAaZekzuYR3MJxi8gv2c4pbPB5JCTh9VidktIs2v+Ce5eHWxwkmb4o5rpnvILKtSHdMBCJghQsNSKbbTsgv3oXxd/J2mbGnzpt2W39TIoX93z3llLsIbzJtx9bJB3IBMLZP5B/rqbPvIn8dJ8/5t6Sbv96yLyE0yX8/jf1EaD3cgBFY2+UUpjfYpkhjhOZXEGJkWogCnPpZjDf5VRu8QYcrkniDND6ZbIjmyRCDnMy0PV0u/qWzQZK51E/evT8+bXVaFrzhw3abPLNHTimd6FyRpY3ohy1Kd3jzbkfeLvY7xjC7Hb8BodqielPSlk+30CwhjKJVO60edpmfZhrD1svmuAI/BFG29G3KoF0GMBxGDBFGHtirEYowmb04o+BAcHuul+Fskxh3aQPyUWiKiaT4kMRLMrkf13EY0oHf+UVDQGCKcCRjkCDeLD+jKCuGWrT8XkDOSdMfeFtuuMNZhtdFWwegaJYh0dCd8zDRsXrARENhYneYeL9CwTfCMZS4eJ+yeSdMQRlcod+A6LdN8XekSeZ+OgiYv24UAQ39DAjUh4JAqCCwOwj8muNergL6zBb1M79P+KOTS+c4XxjHIfIprRlxLSEb5loKNUgjayGOzoCZfKQKfUZGHwjPQR84EPqYCn06NErDkA0P44j8Z3/8MExRv+bnuAhEHlDbYv81wc/Dg667t2r+QQuW4AdK4McdSvexFPp0hz6fsR8ShpnP528XbZL8GRXivCLEMe12xHGcnhCnGvRw2mMeKFyiL8VHnGYrvKSmxKdj6105KnJCwX9Qlj0XQSx/n2FK8cMdPmM206CRQUQmy8dHB9U8/+QZiPFTrEoRau38msxPlyirmRxDTscUJQTZvpd/v1M5YCs50J0c+IiD/RoxlN7tg4Bon9E+YcGS/ZbiJ2Fc5Q4c0B0YFvTQfEKMbVaa/ul4BG9aRFlu2SaXiSivL6VYQGFdoPkVIgk9xdnftHluFZ++FheRuUmfT76iH79eK8hqovwdCjJXIsiEsJJzpSRjXT+kqf98csEWx5tsd3Ln32jDkYts0yhxEfAqGRmV6y3HbrqevMlHcGSjw6O8kLPEFIRfsMBsFCnLPJQigtv+gl1AaVtMBLnauptZH2XLuxYIEn+Bkjs/+LZkLFtO+2jJ/CiSfIqRzA6pNacsVLOcape+ps8h4IS7jD8EgmrAKhGUe9f4HXAU7QjPVsHhQqrWLAilPHUSQ8WbKE7XMxY4oD/OvHiLmIDf27Wqg/yhtRAvXpNVfdNhBFsvCxtZGKE3P14VY4GYSigRLEqLOYK2d4YWY45mj8syQ5VIeaFI+TfNQcxWMf1X5OXwqBB8UKb4kKY4F3RiVG46hvhNSzVHL5tEg0o1IWFb9A1XaH6UV4AtjKAQNlQSdcgSAFhWEEhZooM5N13YOufDpUMBlQ/Voez54de/5n/+RK7+q5ok9FJpM/UF8fYxshpPG3a9Cu4VWQbRBCJq/avwwDxDh889QmPo8ECldnUIpD8S2CLjRe/YpBM9MvODLFfolQo/sApPp15LUYTIeg2mucPotpV4Dj2FgLKBLQooY6iMD0OWZHYbAso6R0DZowkolf3XoYD6HW3QI9vxkKJ1vGFbYZVcGl4ubXAWRwS06c8rB9PkZJPrOe2yCRpDOTtU4luHEEhrAhQrj911vU1QhhQMDrrzP884VMA3NeADeiXHTa6VW0MhnydSXaBsk87sp9kHWt+HfMEYu2h7iOkYishwyK9YJDj4ljcVF4Du1Gx4jpYN5cRpc9kdGvvNXDNhxaVomnPrlL5iD/PiHtbFPaqOzmqP6zPkhMRBMffytbIlj1418qU7aba0XDiHHnlB17NN1zQvZCDL9eYOBJ5n2kTx023j0v6ePddtMgIL2kQpdMGF/W3dIOO3PM/WPehYzb17YGbOJq+fmc9J+vUmzcu2ewEviL09fW7Ypg5d3bVe1N+dA7ISLFfXHfcg5s/uL8TlB+Be+BLuPdlINR3uPQeJzUlzrwGtOSBACk3dNXQoMJBrNLJPS3fYyn+G19Kj+2R5MVf+12zFCsw9+s8spQvTCczr0FUY9ZWn0MuXYlMKve7AsnCGL+HKI9n7zZjnMes3AC3nxKBrQtATgRZiezQoee3QQCwRIhrJi6hrjm3ZF2MLMUyIbCQvYHiuW9Xyzuhf3d88ADZ1GsI6JFfPTlKrj9nUf/PLeGp1/t2EA188ttgscGv2BfUf+DJkm9CVj/GFXt8/iFCmv7lmqLPyv9MPC4TopPls4JgIu3UuDuPoWRVIHJuAD/GG/Ch17p6340i5igdOMKxUzea694nCYHAJ1H95xJYsAcm6qgeNi5aifB1+YMtOtgAMyzrwP/1HPr9vW4stC7FhFcoe8xe80YRE3xcsqsJ8aSn3fsr9XS6KhC2CaS0JoZK8ZwprAlgyJdrsY020hI2nsyb0kVcEXw36ar+Y5cc1XBmbVGtDsjbKjnXAD+8YZ3G0bF4ccXFcx/Xszo8nXL9gh5k0L4jmBam/lz79T5++sh5qnXS8TsquCQeOuEz4MQBvbpl0vBbuD6n+Ad5vgphO6uyTMXP1mUfop+MN/UHy5h9iUW4QO5PEp1d1YdWs0JO/pI94oWFz8AOroy9KtU/1VsOmvwwYwYd3sxuneLWdxlqEdRkz/bvn+PCUe64L99wnBgQHh1uwT9O8NuGbr4x99HKdXW5A1daZhJyoZjvI5IRjDuQAs1oUNQVHl8DRRzwrNm3yUAGNETyiReCvmTY3O9RqoQnke8adqkrLwAVTNUIhjdJHI2RBqa9iBFODyMopctJkcltiy3YBkRY0AieybWTqANqW3XCK3ApwrrjiwMjjTeq8HKeHoJbYpDBLT3mKJ4zkdJnltTFKZNOMOmbBhGZRwph3RfgECZZh95SFouwzZU4Ksw/CymrBTMBE6r9a+zk7d4fauCtQZaobqi0d9ryh+gyqGGNRZaInG/RPFZk3QbpHZwyqiMV5P6IMMX/iGi/ihGpTIfoe0zoWFWqlK7ym8ujqc7fv74c+d1u3yp7uw6nvra5ubnl1SgReaaDbdDn+XpIup886TJfrfQFJapHK+XgIb5zgBxRj3V/R7gxF7DVlXNdwbFPGNQSg7KQofm4SGdfi83SY8tiT2Xvm6X4spXCFWfJ/bksUns0pnDU/2NQ8ZP43pBXz0Phki1RZ66Nb60Zl77fpAVEeD2auA7cPcVwuDT4tnbVOLWzetnFtgvqLtmMAUDmf1iwEVt32B2A0Xn/15geRfcQEH74zK9ek3752UKONnezHcks0Ma7TDQ7Hm5R79KMqSLbg96Ks94EOdYcR6L0iR422NThyGKCMBNwnWI8clQ6m3Qw10G68vnuokRyYxKr5C6a7/i+6zYSs4nwPCgsfscjF+7eORUaNlCpuTaGoXHHrSjvlgEVlVhgIm+ojDdPV1av7pYjmXrZjbsla0XioVxktr81oGTnGONFYVP/uQe6nbVQ5jNHiHoboYr8BB2F7SQbo8K30V4raavp5T6K1w3L1Y4nW31JMix+WdhgzqTOfz29BzNLTpcnDFzJWuQdfi6S1QLmCxciS9lbyC2rNi2ZJW1MpagBJa3dJh3PCqKIXZcLUA5KqI1Oi3q0kiNSqFs0VWscjjDptc9Z3gjeP2CYxc34UGd4q23t88pWyvc/RGJV+OHayt2N7I6qHPDz55uXYCx0xNWVw+5djUAyWSA4Bf2N+GNgc/tD0ObC8SRXDFM7Hmqpe2PU+ZJF20za3+PBes0fszy31Cc2kSXK3E37aF7OgPGFT13SqnrCRVR11PFTvluEhlYOgER3SPRMIRAfI8vcsxTfxtxneMjYgXJB3LHamKnNxPHORZ98oe3FaKFqxFz3ugBsHRG8lcF/rWGzUb+FogXsoRnxvIHAP2wP3ZnnzHE9tuzZjrlKmfpiMubYyc0rcXVTrXMjd4xpJYV8JElFpJL1rJCfJhUohmaZCUk0lHFcjMWUaiVpwnZp1YbyMM3YcurLTxrfTcmKoYk4ThceKvQZ0Z1Sv11QDEhMx2Ear+wPFTOsbCPDV7KU7DfBZ5SPDJl2JQZWTVMrHWyeSUj5ekfJRtc1G1j5MMYvlRrQPHm1s1D4GOzVR/GUxHeIG3MVm8+KhpR4M0K2/uGeHcMt5bkq0XeQQTv3NLjotsM/9wvmfSm6zUkIGVELWmGc0a1GK18o5PFEFpJrzM7JzeKrHwkxE/xitkqt5i94Psyb79UT94NvDu3F+DBucluXX3cRa4x7f5rVWU4R0gLXmdEkHeYVAfeIUkpSAn1DyjnWzZjKP3jYS5urajecSxiCoj4AbGr4HQYAcDYiEuQEz2WpW8YiYst2KlXzlppwnaYeetugMUDCVXnTYeA9mHdYv73ofj8DyxpSQsm50r3kXz2vxMoxSUO6suILa3DMBQ9+xK3HaQSMNAjBM1dDvfd+lbB+zqMdciddycW0ZlWATAPa8Qtx8WEXHI33ry+FeIerlj6284wOlSwvYrdzifZPoYtGpBOXwHnEuiqYhKAcqOzYdiVknFRoF5mgGjipf1aHI+gFlFYlFY4dF025FNyErYaUSyZTUas9iN+CYQoufT9D3IUf9FMvs3QaUedHlkmUUJ7rotHtzsd4ajm3woQPAK8B2GusdxoWulJTulJT8JMRtinFE/rM//rLXXcd0cukc+0GZIHxKa0ZcS8jLvL1+GGpbXH7EmsfJBzoFXeBwSPkt6gKOXj50CPLPJ7qA25MqIGCP2u7bIfZ8zs8Y6PlEhXHxhp+joDDnNWGOW4ktyDDHcQbCnCHMj1LKwOHD1aevHpios0K61cmR1IPv/MDzlpiRPDzlVc7KMxyjwgXXHXBYNxNKNHUhmj7iYL9GjJ67fUBPAor2CTsRMi8ASlaWct4N6LxDRFzExATWyK8RZI+j50k67W5aaHqwXVEH+lCauiXSXKBrk7zy04wANGMKxuFF20NMh1CIyJBfsUhw8C1vKi4A9SKuUZ5JEuDqjJAzKNM284fGfmWh4+lz6JEXdD3bdM3yNgNomvPm04VdsoYMm7wMy3OIRDcu7Q/0OaDudEDEsks+Xtq/qg5We3QvzSe6neFyha6R2yWe4zq95gxu79yZLKriIqq88fi1OAXn5Mxfq3G/nEDdOGjaVaGXa1utuudXvH+XUpWKKz3s52iOExstTkKWvrtF6Q5v3tF03dNS/CNopcPO1sNxWlSe7uR1QqMsaz1LVAkdsxOVkHxMMeWVowgmU7f6GYeIXvF/&lt;/diagram&gt;&lt;/mxfile&gt;&quot;}"></div>
<script type="text/javascript" src="https://www.draw.io/js/viewer.min.js"></script>


### 1\. Awareness

<div class="panel panel-border-narrow">

Users need to find out about their entitlement to concessionary travel. They may find out in these ways:

*   signage in a local library
*   local, district, borough and county councils communications
*   word of mouth
*   an internet search
*   signage on bus stops and buses

Your service should make sure the right information is being provided through these channels, where possible.

</div>

</details>

### 2\. Check you are the right age

<div class="panel panel-border-narrow">

All residents in England can get a pass for free bus travel anywhere in England when they reach the female State Pension age, whether they’re a man or a woman.

London residents can also travel free on buses, tubes and other transport within London from age 60.

Users may need to check if they're old enough for concessionary travel. Link to the [GOV.UK bus pass age check page](https://www.gov.uk/state-pension-age/y/bus_pass) from your service start page.

</div>

</details>

### 3\. Find the right council

<div class="panel panel-border-narrow">

Next, users need to get to the right council's website to apply for their pass. Users might start by typing 'older person bus pass' or a related term into a search engine, or going to the website of the council they think is their local council's.

### Search engine

The [GOV.UK older person's bus pass page](https://www.gov.uk/apply-for-elderly-person-bus-pass) should send users to the right council's website when they enter their postcode.

Make sure the postcodes your service provides services for link to the right page on your website and email any corrections to: [local-direct-admin@digital.cabinet-office.gov.uk](mailto:local-direct-admin@digital.cabinet-office.gov.uk).

### Council website

Users may go straight to the website for the council they think they need to get a travel pass from.

Clearly state which area your service provides concessionary travel in, as the user may be in the wrong place.

</div>

</details>

### 4\. Service start page

<div class="panel panel-border-narrow">

Now the user is in the right place, your service's webpage should communicate:

*   what the pass will allow its holder to do
*   when the user is allowed to travel using the pass (the national bus concession in England is available from 9.30am to 11pm on weekdays and at any time on a Saturday, Sunday or bank holiday)
*   where the pass is valid
*   how the pass will be used
*   how long the process of applying will take
*   when they should expect to receive their bus pass once they've applied
*   that they'll need to provide a passport style photograph
*   that they'll need to login or signup using GOV.UK Verify
*   what to do if they need assistance with the application
*   what to do if they can not complete the application
*   links to renewals and replacements services

[Explore service start example council page](concessionary-travel/example-service/start-page)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 5\. Prove you are a resident and your date of birth</details>

### 6\. Confirm your date of birth

<div class="panel panel-border-narrow">

### Successful verification

If the user has been successfully verified, your service will receive the user's name, address, and date of birth from GOV.UK Verify.

Your service webpage should show the user their date of birth and ask them to confirm it. (This is mainly done because of a legal requirement to show user the data about them received from GOV.UK Verify.)

[Explore confirm date of birth example council page](concessionary-travel/example-service/confirm-dob)

[Access related user research](concessionary-travel/user-research)

### Unsuccessful verification

If the user's date of birth is not correct, something has probably gone wrong in the verifying process. Your service needs to advise them to continue using a different channel.

[Explore confirm date of birth example council page](concessionary-travel/example-service/incorrect-dob)

[Access related user research](concessionary-travel/user-research)

### Not egibile because of age

If the user confirms their date of birth, your service should check the user is old enough to be eligible. If the user is not eligible based on their date of birth your service webpage should tell them they are not currently eligible and supply the date when they will be eligible.

[Explore the not eligible because of age example council page](concessionary-travel/example-service/not-eligible-age)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 7\. Confirm your address

<div class="panel panel-border-narrow">

GOV.UK Verify will send your service the user's address, as supplied by the user's chosen identity provider. When the user returns from the GOV.UK Verify process, your service webpage should ask them to confirm if this is their current address. (This is mainly done because GOV.UK Verify identity providers may not have the user's address if they moved house in the last 3 months.)

On this page you can also ask the user to confirm if they want your service to send the bus pass to the address they've received through GOV.UK Verify.

[Explore the confirm name and address example council page](concessionary-travel/example-service/confirm-address)

[Access related user research](concessionary-travel/user-research)

If the user says the address returned is not correct, they are likely to be a new resident whose address has not been updated with their identity provider. Your service should ask users to enter their current address and warn them not to enter false information, as this is a civic offence.

If the travel pass is physical, your service will get extra confidence in the address by mailing the pass to the address the user provided. Mention that your service will be using the address they've given for this purpose on the service confirmation page.

[Explore the enter their current address example council page](concessionary-travel/example-service/incorrect-address)

[Access related user research](concessionary-travel/user-research)

When the user has confirmed their address, your service should check that the address they've given is in the area your council provides services for. If the address is not in the area, your service webpage should tell them they are not eligible in this area.

[Explore the not eligible because of address example council page](concessionary-travel/example-service/not-eligible-address)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 8\. Do you already have a bus pass?

<div class="panel panel-border-narrow">

At this point your service should check if the user already has a bus pass by searching its records.

If they already have a pass, your service webpage should tell them they are not eligible to apply for a new one, but they can renew or replace a lost or stolen pass with the 'Renew or replace your bus pass' service.

Include a link to contact your service, in case the user believes there has been a mistake.

[Explore the not eligible because already have a pass example council page](concessionary-travel/example-service/not-eligible-pass)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 9\. Upload digital photograph

<div class="panel panel-border-narrow">

Concessionary travel passes need a clear photograph of the person who the pass is issued to, so that they can't be used by anybody else. Bus drivers are responsibile for checking the photo matches the user.

Users can take a photo with their webcam as part of their application, or upload a digital photograph of themselves. Uploading a photo may be complicated for some users, so your service should find the right route for them with a series of questions, illustrated in this flow chart:

{% include 'includes/upload-photo-flow.svg' %}

[Explore the how to take and upload a digital photograph example council page](concessionary-travel/example-service/need-photo)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 10\. Confirmation page and sending the bus pass to the user

<div class="panel panel-border-narrow">

When the user has uploaded their photograph, your service should tell them their application is complete, state when they can expect to receive their bus pass and let them know it will be posted to the address they previously confirmed.

Your service should send a letter with the pass providing information on how, when and where it can be used, and what to do in case of a lost or stolen pass.

[Explore the when to expect to receive pass example council page](concessionary-travel/example-service/success)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 11\. Collect contact details to notify users of progress

<div class="panel panel-border-narrow">

Many users want to be informed of the progress of their application. To be able to notify users of their progress, you'll need to ask them for their preferred contact method and details.

[Explore the preferred contact details example council page](concessionary-travel/example-service/contact-notifications)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

### 12\. Use bus pass

<div class="panel panel-border-narrow">

Bus passes are a physical plastic card that successful applicants can use on any bus in England. They need to either show it to the driver or scan on a card reader when they get onto the bus.

In London, the pass is an Oyster card which the user scans on a card reader.

</div>

</details>

### 13\. Renewals

<div class="panel panel-border-narrow">

To reduce the possibility of fraud, bus passes need to have expiry dates no more than 5 years from the date of issue. (Specification 1.31 from the [Department for Transport guidance](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/3621/travelconcession.pdf).)

Your service should send a notification to the user through their preferred communication channel – email, text message or by post – when their bus pass is about to expire.

In the future, councils will be able to send this reminder using [GOV.UK Notify](https://www.gov.uk/government/publications/govuk-notify/govuk-notify).

[Explore the renewal reminder email example council page, and text message and letter examples](#) (in progress)

[Access related user research](concessionary-travel/user-research)

</div>

</details>

## Technology
